#pageEntiere {
    width: 80%;
    margin: auto;
    color: white;
    background-color: dimgray;
}

#etatCivil {
    background-color: midnightblue;
    width: 70%;
    padding: 20px;
}
#Liens {
    background-color: gray ;
    padding: 2px;
}
#photo{
    float: right;
    background: url("Benoit_Carpentier.jpg");
    background-size: cover;
    width: 25vw;
    height: 25vw;
}

#onClick{
    width: 5pw;
}

.titres {
    background-color: darkblue;
    font-style: italic;
    display: block;
}
.dates, .noms {
    float: left;
    background-color: dimgray ;
    margin: auto;

}
.dates {
    width: 20%;
    text-align: center;
}
.noms {
    width: 80%;
}
 .listeLoisirs {
     text-align: center;
 }
 .bouton {
     background-color: blue;
     color: white;
     height: 3.5vw;
 }

 body {
     background-color: black;
     font-size: 1.2vw;
 }

h1 {
     font-size: 5vw;
 }
h2 {
    font-size: 3vw;
    text-align: center;
}
li {
    width: 100%;
}
input {
    float: left;
}