#pageEntiere {
    width: 80%;
    margin: auto;
    color: white;
    background-color: #0e7027;
}

#etatCivil {
    background-color: midnightblue;
    width: 70%;
    padding: 20px;
}
#Liens {
    background-color: gray ;
    padding: 2px;
}
.titres {
    background-color: darkblue;
    font-style: italic;
    text-align: center;
}
.dates, .noms {
    float: left;
    background-color: dimgray ;
    margin: auto;

}
.dates {
    width: 20%;
    text-align: center;
}
.noms {
    width: 80%;
}
 .listeLoisirs {
     text-align: center;
 }

 body {
     background-color: black;
 }

h1 {
     font-size: 5vw;
 }
h2 {
    font-size: 3vw;
}
img {
    float: right;
    max-height: 25vw;
}
div {

}